<body bgcolor="#f5f5dc">

<p>
  <h4>Title:</h4>
  <%= @article.title %>
</p>

<p>
  <h4>Text:</h4>
  <%= @article.text %>
</p>

<h2>Top 10 Comments</h2>

<%= render @article.comments.last(10) %>

<% if (current_user.email == "aniket@gmail.com") %>

<%= link_to 'View All Comments', admin_comment_path%>



 <%else %>


    <p>View All Comments is Available to Admin - aniket@gmail.com<p>

<% end %>


<h2>Add a comment:</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
      <%= f.label :commenter %><br>
      <%= f.text_field :commenter %>
    </p>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

</body>